.titlebar {
    height: 20px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

body {
    background-color: #f0f5f5;
    font-family: 'DM Sans', sans-serif;
}

#api-key-page {
    margin: auto;
    width: 50%;
}

#api-key-txt {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #123693;
    background-color: #f0f5f5;
    border-radius: 5px;
    box-sizing: border-box;
}

#main-page {
    display: none;
    margin: auto;
    width: 90%;
}

#main-sub-page {
    display: flex;
}

.center {
    margin: auto;
    width: 80%;
}

h1, #name {
    text-align: center;
    color: #123693;
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 40px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: #123693;
}

textarea {
    width: 100%;
    height: 140px;
    padding: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    color: #123693;
    border: 1px solid #123693;
    background-color: #f0f5f5;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    /* margin-bottom: 10px; */
}

/* ------------------- Nav Bar ------------------- */
#nav-bar {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    height: 40px;
    margin-bottom: 30px;
}

#nav-intro {
    display: flex;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    color: #123693;
}

#nav-bar button {
    /* height: 40px; */
    padding: 10px;
    font-family: 'DM Sans', sans-serif;
    background-color: #d2e4ff;
    color: #123693;
    font-size: 15px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#nav-bar button:hover {
    background-color: #d8e7fc;
}

#nav-bar button:focus {
    background-color: #9cc0f7;
}

/* ------------------- Info Section ------------------- */
#info-section {
    flex-grow: 1;
    color: #123693;
}

#upload-resume-btn:hover {
    background-color: #d8e7fc;
}

#upload-resume-btn {
    width: 30%;
    padding: 5px;
    background-color: #d2e4ff;
    color: #123693;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* margin-top: 10px; */
}

button[type="submit"]:hover {
    background-color: #d8e7fc;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #d2e4ff;
    color: #123693;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#go-back-btn {
    padding: 5px;
    font-family: 'DM Sans', sans-serif;
    background-color: #f0f5f5;
    color: #123693;
    font-size: 14px;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

#go-back-btn:hover {
    color: #6384d8;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    color: #123693;
    border: 1px solid #123693;
    background-color: #f0f5f5;
    border-radius: 5px;
    box-sizing: border-box;
}

#answer {
    width: 55%;
    font-size: 16px;
    color: #62729cc3;
    background-color: #f0f5f5;
    border-radius: 5px;
    margin-right: 30px;
    word-wrap: break-word;
}


/* ------------------- Loading Spinner ------------------- */
/* from: https://loading.io/css/ */
#spinner {
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6e75855d;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #123693;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
  